/Pertemuan4/target/
/Tugas1_PrakPBO/target/
/TugasPBO/nbproject/private/
/TugasPrakPBO/nbproject/private/
/TugasPrakPBO/build/
/TugasPrakPBO/dist/
/PrakPBO/nbproject/private/
/PrakPBO/build/
/PrakPBO/dist/
